<ion-header>
  <ion-toolbar color="danger">
    <ion-title text-center>
      Charts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  Happy Messages by Sentiment Range (Bar Chart)<br>
  <div style="display: block">
    <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
  </div>
</ion-content>
